h1.head1 {
  text-align: center;
}
h3 {
  text-align: center;
}
h5  {

}
img {
  float: left;
  height: 450px;
  width: 450px;
  margin: 15px;
}
li {
  font-family: sans-serif;
  font-size: 30px;
}
p  {
  font-family: verdana, sans-serif;
  font-size: 25px;
}
body {
  background-color: #fff5ee;
}
h2 {
  font-size: 45px;
  font-family: verdana, sans-serif;
}
.sec1 {
  font-family:
}
p.para1 {
  padding: 10px;
}
h3.head3 {
  font-family: fantasy;
  color: red;
}
